<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>

<body style="background-image: url(https://fastly.picsum.photos/id/742/1920/1080.jpg?hmac=q42szYb833TOImzXtgPXx52WnY8EFdeTeJhVPl4s_qQ)">
    <div id="app" class="taust">
        <!-- Orders -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <div class="d-flex align-items-center">
                            <a type="button" class="btn btn-success" href="index.html">Home</a>
                        </div>
                        <div class="text-center">
                            <h1 class="Title">Orders</h1>
                        </div>
                        <div class="d-flex align-items-center">
                            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                v-on:click="createOrderModal">Create new</button>
                        </div>
                    </div>
                    <hr class="Title" style="margin-bottom: 20px;">
                </div>
            </div>

            <div class="row">
                <div class="col-12" v-for="order in orders" :key="order.id">
                    <button class="rida" v-on:click="getOrder(order.id)">
                        <div>
                            <div v-text="'Order No: ' + order.id" style="font-size: 30px;"></div>
                            <div v-text="'Worker name: ' + getWorkerName(order.workerId)" style="font-size: 30px;"></div>
                            <div v-text="'Client name: ' + getClientName(order.clientId)" style="font-size: 30px;"></div>
                        </div>
                    </button>
                </div>
                <hr class="Title" style="margin-top: 20px; margin-bottom: 50px">
            </div>            
        </div>

        <!-- Order Detail popup -->
        <div id="orderInfoInModal" class=" modal" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content text-center">
                    <div class="modal-header text-center">
                        <div class="h3" v-text="`${orderInModal.id}`"></div>
                    </div>
                    <div class="modal-body">
                        <div class="h4" v-text="`Name: ${orderInModal.id}`"></div>
                        <div class="h4" v-text="`Worker: ${orderInModal.worker}`"></div>
                        <div class="h4" v-text="`Client: ${orderInModal.client}`"></div>
                        <div class="h4" v-text="`Duration: ${orderInModal.duration}`"></div>
                        <div class="h4" v-text="`Status: ${orderInModal.status}`"></div>
                        <div class="h4" v-text="`Info: ${orderInModal.info}`"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" v-on:click="prepareDeleteOrder(orderInModal)">
                            Delete
                        </button>
                        <button type="button" class="btn btn-success" v-on:click="openUpdateOrderModal(orderInModal)">
                            Update
                        </button>
                        <button type="button" class="btn btn-danger" v-on:click="closeOrderInfoModal">Close</button>
                    </div>
                </div>
            </div>
        </div>
      
      <div id="createOrderModal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content text-center">
            <div class="modal-header text-center">
              <div class="h3">Create New Order</div>
            </div>
      
            <div class="modal-body">
              <!-- Form for creating a new order -->
              <form>
                <div class="mb-3">
                  <label for="newOrderName" class="form-label">Name:</label>
                  <input type="text" class="form-control" id="newOrderName" v-model="newOrder.name" required>
                </div>
                <div class="mb-3">
                  <label for="newOrderProfession" class="form-label">Profession:</label>
                  <select class="form-select" id="newOrderProfession" v-model="newOrder.profession">
                    <option value="">Select a profession</option>
                    <option v-for="profession in professions" :key="profession.id" :value="profession.id">{{ profession.name }}</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="newOrderSalary" class="form-label">Salary:</label>
                  <input type="text" class="form-control" id="newOrderSalary" v-model="newOrder.salary" required>
                </div>
                <div class="mb-3">
                  <label for="newOrderEmail" class="form-label">Email:</label>
                  <input type="text" class="form-control" id="newOrderEmail" v-model="newOrder.email" required>
                </div>
                <div class="mb-3">
                  <label for="newOrderPhone" class="form-label">Phone:</label>
                  <input type="text" class="form-control" id="newOrderPhone" v-model="newOrder.phone" required>
                </div>
                <div class="mb-3">
                  <label for="newOrderCompany" class="form-label">Company:</label>
                  <input type="text" class="form-control" id="newOrderCompany" v-model="newOrder.company">
                </div>
                <div class="mb-3">
                  <label for="newOrderDriversLicense" class="form-label">Drivers License:</label>
                  <input type="text" class="form-control" id="newOrderDriversLicense" v-model="newOrder.driverslicense">
                </div>
              </form>
            </div>
      
            <div class="modal-footer">
              <button type="button" class="btn btn-success" v-on:click="createNewOrder" data-bs-dismiss="modal">Create</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>

      <div id="updateOrderModal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content text-center">
            <div class="modal-header text-center">
              <div class="h3">Update Order</div>
            </div>
      
            <div class="modal-body">
              <!-- Form for updating a order -->
              <form>
                <div class="mb-3">
                  <label for="updatedOrderName" class="form-label">Name:</label>
                  <input type="text" class="form-control" id="updatedOrderName" v-model="updatedOrder.name":placeholder="orderInModal.name" required>
                </div>
                <div class="mb-3">
                  <label for="updatedOrderProfession" class="form-label">Profession:</label>
                  <select class="form-select" id="updatedOrderProfession" v-model="updatedOrder.profession">
                    <option :value="orderInModal.profession">{{ orderInModal.profession }}</option>
                    <option v-for="profession in professions" :key="profession.id" :value="profession.id">{{ profession.name }}</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="updatedOrderSalary" class="form-label">Salary:</label>
                  <input type="text" class="form-control" id="updatedOrderSalary" v-model="updatedOrder.salary" :placeholder="orderInModal.salary">
                </div>
                <div class="mb-3">
                  <label for="updatedOrderEmail" class="form-label">Email:</label>
                  <input type="text" class="form-control" id="updatedOrderEmail" v-model="updatedOrder.email" :placeholder="orderInModal.email">
                </div>
                <div class="mb-3">
                  <label for="updatedOrderPhone" class="form-label">Phone:</label>
                  <input type="text" class="form-control" id="updatedOrderPhone" v-model="updatedOrder.phone" :placeholder="orderInModal.phone">
                </div>
                <div class="mb-3">
                  <label for="updatedOrderCompany" class="form-label">Company:</label>
                  <input type="text" class="form-control" id="updatedOrderCompany" v-model="updatedOrder.company" :placeholder="orderInModal.company">
                </div>
                <div class="mb-3">
                  <label for="updatedOrderDriversLicense" class="form-label">Drivers License:</label>
                  <input type="text" class="form-control" id="updatedOrderDriversLicense" v-model="updatedOrder.driverslicense" :placeholder="orderInModal.driverslicense">
                </div>
              </form>
            </div>
      
            <div class="modal-footer">
              <button type="button" class="btn btn-success" v-on:click="updateOrder" data-bs-dismiss="modal">Update</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>


      <div id="deleteConfirmationModal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content text-center">
            <div class="modal-header text-center">
              <div class="h3">Confirm Deletion</div>
            </div>
            <div class="modal-body">
              <p v-if="orderToDelete">
                Are you sure you want to delete {{ orderToDelete.name }}?
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" 
              data-bs-dismiss="orderInfoInModal" v-on:click="deleteOrder">Delete</button>
              <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"></script>
      
    <script src="https://unpkg.com/vue@3.3.11/dist/vue.global.js"></script>

    <script src="rest-client.js"></script>
  </body>
</html>