body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.taust{
  height: 80%;
  width: 80%;
  background-color: rgba(000, 000, 000, .6);
  border-radius: 20px;
  padding: 100px;
  padding-bottom: 300px;

  overflow: auto;

  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: top; /* Center vertically */
  text-align: center;
}


.item{
  width: 250px;
  min-height: 250px;
  margin: 20px;
  border-radius: 20px;
  background-color: rgba(215, 255, 248, 0.4);
  color: rgb(255, 255, 255);
  border-color: rgb(0, 0, 0);
  padding: 20px;

  font-size: 40px;

  transition: transform 0.8s ease-in-out;

  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
}
.item:hover{
  background-color: rgba(137, 233, 255, .4);
  color: rgb(255, 255, 255);
  border-color: rgba(0, 140, 255, .4);
  transform: scale(1.3);
  z-index:1;

}

.rida{
  width: 90%;
  min-height: 5%;
  margin: 20px;
  border-radius: 20px;
  background-color: rgba(215, 255, 248, 0.4);
  color: rgb(255, 255, 255);
  border-color: rgb(0, 0, 0);
  padding: 20px;
  margin-left: 5%;

  font-size: 40px;

  transition: transform 0.8s ease-in-out;

  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center;
}
.rida:hover{
  background-color: rgba(137, 233, 255, .4);
  color: rgb(255, 255, 255);
  border-color: rgba(0, 140, 255, .4);
  transform: scale(1.3);
  z-index:1;

}

.Title{
  color: white;
}

.btn-primary, .btn-success, .btn-danger{
  background-color: white;
  color: rgb(68, 68, 68);
  border-color: rgb(68, 68, 68);
}
  .btn-primary:hover{
    background-color: rgb(137, 233, 255);
    color: black;
    border-color: rgb(0, 140, 255);
  }

.btn-success:hover{
  background-color: rgb(137, 255, 149);
  color: black;
}

.btn-danger:hover{
  background-color: rgb(255, 137, 137);
  color: black;
}

/* http://unsplash.it/1920/1080 */